<div ng-controller="TablesCtrl as controller">
    <span style="margin-right: 24px">Выбор данных:</span>
    <input type="radio" name="data" id="data1" value="file1.json" style="cursor: pointer;"
           ng-model="controller.filename" ng-change="controller.loadData()"/>
    <label for="data1" style="margin-right: 8px;cursor: pointer;">Данные 1</label>
    <input type="radio" name="data" id="data2" value="file2.json" style="cursor: pointer;"
           ng-model="controller.filename" ng-change="controller.loadData()"/>
    <label for="data2" style="margin-right: 8px;cursor: pointer;">Данные 2</label>
    <input type="radio" name="data" id="data3" value="file3.json" style="cursor: pointer;"
           ng-model="controller.filename" ng-change="controller.loadData()"/>
    <label for="data3" style="margin-right: 8px;cursor: pointer;">Данные 3</label>
    <input type="text" style="margin-top: 16px;display: block;"
           ng-model="controller.search" ng-change="controller.filterItems()">
    <table style="margin-top: 16px">
        <tr style="border: 1px solid black;cursor: pointer;">
            <td style="padding: 8px;" ng-click="controller.sortItems('id')">
                Идентификатор <i ng-show="controller.column === 'id'" class="fa fa-fw"
                                 ng-class="{'fa-sort-desc': controller.reverse, 'fa-sort-asc': !controller.reverse}"></i>
            </td>
            <td style="padding: 8px;">Название</td>
            <td style="padding: 8px;" ng-click="controller.sortItems('quantity')">
                Количество <i ng-show="controller.column === 'quantity'" class="fa fa-fw"
                              ng-class="{'fa-sort-desc': controller.reverse, 'fa-sort-asc': !controller.reverse}"></i>
            </td>
            <td style="padding: 8px;" ng-click="controller.sortItems('price')">
                Цена <i ng-show="controller.column === 'price'" class="fa fa-fw"
                        ng-class="{'fa-sort-desc': controller.reverse, 'fa-sort-asc': !controller.reverse}"></i>
            </td>
        </tr>
        <tr ng-repeat="item in controller.pageItems track by $index"
            ng-click="controller.showOutput(item)"
            style="border: 1px solid black;cursor: pointer;">
            <td style="padding: 8px;">{{ item.id }}</td>
            <td style="padding: 8px;">{{ item.name }}</td>
            <td style="padding: 8px;">{{ item.quantity }}</td>
            <td style="padding: 8px;">{{ item.price }}</td>
        </tr>
    </table>
    <p>
        {{ controller.output }}
    </p>
    <input ng-repeat="button in controller.buttons track by $index"
           ng-style="controller.page === button ? {'text-decoration': 'underline'} : {}"
           ng-click="controller.setPage(button)" value="{{ button }}"
           style="display: inline-block;margin-right: 8px;" type="button">
</div>